## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [24]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [25]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [26]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [27]:
mi_nombre = 'Juan Carlos Perez'

5) Mostrar el tipo de dato de la variable creada en el punto 4

In [28]:
type(mi_nombre)

str

6) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [29]:
pi = 3.1416

7) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [30]:
var1 = 'True'
var2 = True

8) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [31]:
print (type(var1))
print (type(var2))

<class 'str'>
<class 'bool'>

9) Asignar a una variable, la suma de un número entero y otro decimal

In [32]:
a = 5.2 + 4

10) Realizar una operación de multiplicación

In [33]:
print(3 * 2)

6

11) Mostrar el resultado de elevar 2 a la octava potencia

In [34]:
print(2**8)

256

12) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [35]:
a = 27 / 4
print(a)

6.75

13) De la división anterior solamente mostrar la parte entera

In [36]:
print(27 // 4)

6

14) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
27 % 4

3

15) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 13 y 14. Obtener 27 como resultado

In [38]:
6 * 4 + 3

27

16) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [39]:
var1 = 'Buenos '
var2 = 'Aires'
print(var1 + var2)

Buenos Aires

17) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [40]:
2 == '2'

False

18) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 17 resulte verdadera

In [41]:
2 == int('2')

True

19) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [42]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

20) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [ ]:
a = -3
a -= 1
print(a)

-4

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
float(2) + float('2')

4.0

In [ ]:
int(2) + int('2')

4

In [ ]:
str(2) + str('2')

'22'

22) Realizar una operación válida entre valores de tipo entero y string

In [43]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces